/***** HOMEPAGE HEADER STYLES *****/

#header {
  border-bottom: 1px solid rgba(12, 20, 31, 0.1);
  background-color: rgba(12, 20, 31, 0.4);
  text-align: center;
}

a {
  opacity: 1 !important;
  color: rgba(230, 255, 255, 1) !important;
  background-color: transparent;
}

/*----------------Nav Bar Items-----------*/

/*need to figure out a way to apply this class*/
.nav-item:active {
  color: rgba(111, 195, 223, 1);
  border-bottom: 3px solid rgba(111, 195, 223, 1);
}

/*Need to ease out the blue border here  from the edges to the center then dissapear*/
.nav-item {
  background-color: transparent;
  border-bottom: 3px solid rgba(111, 195, 223, 0);
}

/*ADD IN THE ANIMATION (just need to animate the border bottom)*/
 .nav-item:focus, .nav-item:hover {
   color: rgba(111, 195, 223, 1);
   border-bottom: 3px solid rgba(111, 195, 223, 1);
 }

 /*----------------Nav Bar Brand-----------*/
.navbar-brand {
  font-weight: 900;
}

.navbar-brand:focus, .navbar-brand:hover{
  color: #fff;
}




/*---------------if width is less than 992---------------------*/
@media (max-width: 992px) {
  #header {
    border-color: transparent;
  }
}
