.custom-modal {
  align-self: center;
  top: 7.5%;
  left: 20%;
  width: 60% !important;
  height: 82.5% !important;
  overflow-y: auto !important;
}

.modal {
  z-index: 0 !important;
}

.modal-dialog {
  position: fixed !important;
}


.modal-content {
  width: 100%;
  background-color: rgba(12, 20, 31, 0.4);
  border-color: rgba(111, 195, 223, 1);
}

.modal-title{
  color: rgba(230, 255, 255, 1) !important;
  text-align: center;
  font-weight: 900;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
}

.modal-body {
  color: rgba(230, 255, 255, 1) !important;
  text-align: center;
}
