.custom-modal {
  align-self: center;
  top: 7.5%;
  left: 20%;
  width: 60% !important;
  height: 82.5% !important;
  overflow-y: auto !important;
}

.modal {
  z-index: 0 !important;
}

.modal-dialog {
  position: fixed !important;
}


.modal-content {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.4);

}

.modal-title{
  color: #fff !important;
  text-align: center;
  font-weight: 900;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
}

.modal-body {
  color: #fff !important;
  text-align: center;
}
